<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <style>
    #logoutLink:hover {
    background-color: #ee8d3d; /* Color de fondo en hover */
    color: #ecd5d7; /* Cambiar color de texto en hover */
    }
    .main {
            font-family: 'Roboto', sans-serif; /* Fuente Roboto */
            justify-content: center;
            height: 100vh;
            padding: 40px;
            background: linear-gradient(to bottom, #8eb4ce, #424141); /* Gris oscuro a gris */
    }
  </style>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Dashboard</a>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white">Subir archivo</a>
                    </li>   
                </ul>
                  <!-- Este es el último UL alineado a la derecha -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" style="margin-top: 10px; margin-right: 5px;">
                    <h5 >Bienvenido: </h5>
                </li>
                <li class="nav-item" style="margin-top: 5px; margin-right: 5px;">
                    <h4 id ="nombreUsuario"style=""></h4>
                </li>
                <li class="nav-item">
                    <a onclick="logout()" class="nav-link text-white" id="logoutLink">Desconectarse</a>
                </li>
            </ul>
            
            </div>
        </div>

    </nav>

    <div class=" main">
 
            <div class="container align-content-center">
                <div>
                    <h2 style="color: yellow;"><strong>ELECTRODOMÉSTICOS MEGASTORE</strong>
                    </h2>
                </div>
        
                <div class="row row-cols-1 row-cols-md-3 g-3 mt-2">
                    <div class="col">
                        <div>
                        
                            <div class="card text-bg-dark mb-3">
                                <div class="card-header">
                                  <h5>  <strong style="color: yellow;">TOTAL VENTAS</strong></h5>
                                </div>
                                <div class="card-body">
                                    <!-- <h3>    {{ sales_total|safe }} Bs.</h3> -->
                                    <h3>    22.324.50 Bs.</h3>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col text-start">
                        <div class="card text-bg-dark mb-3">
                            <div class="card-header">
                                <h5>  <strong style="color: yellow;">COSTOS</strong></h5>
                              </div>
                              <div class="card-body">
                                  <!-- <h3>    {{ cost_total|safe }} Bs.</h3> -->
                                  <h3>    10.000.00 Bs Bs.</h3>
                              </div>    
                        </div>
                    </div>
        
                    <div class="col text-end">
                        <div class="card text-bg-dark mb-3">
                            <div class="card-header">
                              <h5>  <strong style="color: yellow;">INGRESOS BRUTOS</strong></h5>
                            </div>
                            <div class="card-body">
                                <!-- <h3>  {{ utility|safe }} Bs.  </h3> -->
                                <h3>  12.324.50 Bs.  </h3>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-3">
                        <div class="card text-bg-primary">
                            <div class="card-header">
                                <h4>Meses de ventas
                                </h4>
                                <div class="card-body">
                                    <form action="/filtrar" method="post">
                                        {% for mes in number_months %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="meses" value="{{ mes }}" id="{{ mes }}">
                                                <label class="form-check-label" for="{{ mes }}">{{ mes }}</label>
                                            </div>
                                        {% endfor %}
                                        <button class="btn btn-primary" type="submit">Filtrar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
        
                        
                        <div class="card  text-bg-dark mt-2">
                            <div class="card-header">
                                <h3> <strong style="color: yellow;">Tipos de pago</strong></h3>
                            </div>
                            <!-- {{ type_payment_graph|safe }} -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card  text-bg-dark">
                            <div class="card-header">
                               <h3> <strong style="color: yellow;">Categorías</strong></h3>
                            </div>
                                <!-- {{ cate_graph|safe }} -->
                        </div>
                    </div>
                    <div class="col-3" >
                        <div class="card text-bg-dark">
                            <div class="card-header">
                                <!-- <h3> <strong style="color: yellow;">{{ number_branch|safe }} Sucursales</strong></h3> -->
                            </div>
                            <!-- {{ branch_graph|safe }} -->
                        </div>
        
                        <div class="card  text-bg-dark mt-2">
                            <div class="card-header">
                                <h3> <strong style="color: yellow;">Horas mas concurridas</strong></h3>
                            </div>
                            <!-- {{ hour_graph|safe }} -->
                        </div>
                    </div>
                </div>
           
                <!-- <div>
                    {{ graph_html|safe }}
                </div> -->
        
            </div>
           
        </div>
    </body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
    // Verificar si el valor existe en localStorage
    const nombreGuardado = localStorage.getItem("nombre");

    // Si existe, actualizar el contenido del elemento <h3>
    if (nombreGuardado) {
    document.getElementById("nombreUsuario").textContent = nombreGuardado;
    } else {
    document.getElementById("nombreUsuario").textContent = "Usuario";
    }

    function logout() {
        // Eliminar todo el contenido de localStorage
        localStorage.clear();

        // Redirigir a la página de login
        window.location.href = '/login'; // Reemplaza '/login' con la URL de tu vista de login
    }
    </script>
</body>
</html>
